*{
  margin: 0;
  padding: 0;
}
/* navbar */
.navbar{
  display: flex;
  gap: 1%;
  align-items: center;
  padding-left: 3%;
  height: 5.68rem;
  background-color: #21222a;
}

.navbar h3{
  color:#61DAFB;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 1.375rem;
}

.navbar h4{
  color: #deebf8;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  padding-left: 50%;
}

.imglogo{
  width: 6%;
}


/* main */
.main{
  height:100vh;
  background-color:#282d3f ;
  padding-top: 10%;
  color: #ffff;
  font-family: 'Inter', sans-serif;
}

.main h1{
  font-size: xx-large;
  font-weight: 700;
  padding-bottom: 5%;
  padding-left: 5%;
  letter-spacing: -0.05em;

}

.main li{
  margin-left:7%;
  padding-bottom: 3%;
}

/* extra */
li::marker{
  color: #61DAFB;
  font-size: 1.4em;
}

.watermark{
  margin-top: 20%;
  margin-left: 80%;
  opacity: 0.2;
  position: absolute;
  z-index: 0;   
}